<nav class="navbar navbar-expand-sm bg-danger navbar-danger">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link text-warning">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-warning">Cars list</a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a href="#" class="nav-link">Page 2</a>#}
            {#            </li>#}
            {#            <li class="nav-item">#}
            {#                <a href="#" class="nav-link">Page 3</a>#}
            {#            </li>#}
        </ul>
    </div>
</nav>